  :root {
    --tileSize:5.5rem;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  html {
    height:100%;
    font-size: 20px;
  }
  body {
    width: 100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    gap: 30px;

  }

  .gameDetailWindow {
    display:flex;
    height: 30%;
    justify-content: space-between;
  }
  .playerHeader {
    flex:1;
    display:flex;
    align-items: center;
    font-size:4rem;
    justify-items: center;
    justify-content: center;
  }
  .interactableUI {
    display:grid;
    justify-items: center;
    font-size:2rem;
    gap:20px;
  }
  
  .userNameSelection {
    display:grid;
    justify-items: center;
    font-size: 1.5rem;
    gap:10px;
  }
  .userNameSelection input, .userNameSelection button {
    width:40%;
  }
  .gameWindow {
    height: 70%;
    display:flex;
    justify-content: center;
  }
  .boardRow {
    display:flex;
  }
  .tile {
    width:var(--tileSize);
    height:var(--tileSize);
    font-size:var(--tileSize);
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-content: center;
  }
  [data-playerowned="1"] {
    content: "X";
    color: red;
  }

  [data-playerowned="2"] {
    content: "O";
    color: blue;
  }